.container-materias {
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;

}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.card {
    background: #191919;
    height: 335px;
    width: 335px;
    border-radius: 20px;
    margin: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}

.card i {
    font-size: 50px;
    display: block;
    margin: 25px 0;
    text-align: center;
    color: brown;
}

.card h4 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.card p {
    color: #fcfcfc;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 20px;
}

.btn {
    border: none;
    padding: 15px;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid brown;
    cursor: pointer;
}